{% extends 'base.html.twig' %}

{% block title %}Company App{% endblock %}

{% block body %}
    <div class="container-home">
        <div class="row d-flex justify-content-center align-items-center align-items-center">
            <div class="col-sm-12 col-md-6 col-md-offset-4">
                <h1 class="text-center main-title">Company Management</h1>
                <h1 class="text-center login-title">Sign in to find out</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="signIn-image">
                    <form method="post" class="form-signin">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email"  required autofocus>
                        <input type="password" class="form-control" name="password" id="inputPassword" class="form-control" placeholder="Password"  required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
