{% extends 'base.html.twig' %}

{% block title %}Company App{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class='container'>
        <h1 class='text-center mt-5'>Companies Table</h1>
        <p><b>Results:</b>  {{ numberCompanies }}</p>
        {{ include('company/_filter_form.html.twig') }}        
        <div class="table-responsive">
            <table class='table table-striped table-bordered'>
                <thead>
                    <tr class='text-center'>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Sector</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr class='text-center'>
                        <td>{{ company.id }}</td>
                        <td>{{ company.name }}</td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.email }}</td>
                        <td>{{ company.sector }}</td>
                        <td>
                            <button class='btn btn btn-outline-primary'>
                                <a class='company-button-anchor' href='{{ path('company_edit', {'id': company.id}) }}'>Edit</a>
                            </button>
                        </td>
                        <td>
                            <button class='btn btn btn-outline-primary'>
                                <a class='company-button-anchor' href='{{ path('company_show', {'id': company.id}) }}'>Delete</a>
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan='6'>no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='d-flex justify-content-between align-items-center'>
            <button class='btn btn-outline-primary'>
                <a class='company-button-anchor' href='{{ path('company_new') }}'>Create new</a>
            </button>
            <div class="navigation m-5">
                {{ knp_pagination_render(companies) }}
            </div>
        </div>
        
    </div>
{% endblock %}
